<h1><%= @user.name %></h1>
<p>Email: <%= @user.email %>

<% if current_user==@user %>
<p><%= link_to '<i class="icon-plus-sign"></i> Create a new Site'.html_safe, new_site_path %></p>
<% end %>


<p>Current User Sites:</br></p>
<% @user.sites.each do |site| %>
<%= link_to site.name, site %>
<% if current_user==@user %>
| <%= link_to '<i class="icon-remove"></i> Delete'.html_safe, site, method: :delete, data: { confirm: 'Are you sure?' } %> </br>
<% end %>

<% end %>

<br />
