<p id="notice"><%= notice %></p>

<h1><%= @site.name %></h1>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>


<div class="row">
  <div class="span12">
  	<% if @site.collections.any? %>
		<%  @site.collections.each do |collection| %>
			<div class="grid">
				<div class="portfolio_image">
					<%= link_to(image_tag(collection.images[0].image_file_url(:thumb).to_s), collection_path(collection)) %>
				</div>
			</div>
		<% end %>
	<% end %>
  </div>
</div>