<p id="notice"><%= notice %></p>

<h1>Image</h1>

<div class="row">
	<div class="span3">
		<%= link_to "Back", site_collection_path(@collection.site, @collection) %>
	</div>
  <div class="span9">
		<%= image_tag @image.image_file_url(:medium).to_s %>
		<p>
		  <b>Title:</b>
		  <%= @image.name %>
		</p>
		<p>
		  <b>Description:</b>
		  <%= @image.description %>
		</p>
	</div>
</div>

